[submodule "ext/libsystemctlm-soc"]
	path = ext/libsystemctlm-soc
	url = git@github.com:chisuhua/libsystemctlm-soc.git
[submodule "ext/axi"]
	path = ext/axi
	url = git@github.com:chisuhua/axi.git
[submodule "design/cosim/firrtl"]
	path = design/cosim/firrtl
	url = git@gitee.com:chisuhua/firrtl.git
